/**** CSS main style sheet disaster zone MDDN352 P1 [2016] (300317288)****/

/***** INDEX STYLE *****/
/**** FONT-SIZE-STYLE ****/

@import url(https://fonts.googleapis.com/css?family=Lato:300);

/*** HEADER ***/
h1 {
    font-family:'lato';
   
}

h2 {
    font-family:'Lato';
    
    
}
 
h3 {
    font-family:'Lato';
    
}

/* ALERT FROM TITLE */
h6 {
    font-family:'Lato';
   

}

 /** MAP KEY ITEMS **/
h4 {
    font-family:'Lato';
    

}
/* FOR UI KEY HEADER */

h7 {
    font-family:'Lato';
    
}


h5 {
    font-family:'Lato';
    
}

/** MAP KEY ITEMS END **/

/** PARAGRAPH **/
p {
    font-family:'Lato';
    color:#201c1c; /* off black*/
    
}

/** LIST ELEMENT **/
/* UNSORTED */
ul {
    font-family:'Lato';
    
}

li {
    color:#201c1c; /* off black*/ 
}
/* SORTED */

/* A LINK */
a:link {
    color:#378148; /* GREEN*/
}

a {
    color:#378148; /*GREEN*/
}

/**** FONT-SIZE-STYLE-END ****/

/***** BODY *****/
body {    
    width:auto;
    height:100%;
    overflow:hidden;
    padding:0.2%;
    margin:auto;
    /**/
    border: 2px solid blue;
}

/***** BODY END *****/

/***** HEADER *****/
header {
    width:100%;
    height:12%;
    margin:auto;
    overflow:hidden;
    
     /*BORDER*/
    /*L*/
    border-bottom-left-radius:0.2em;
    border-top-left-radius:0.6em;
    /*R*/
    border-bottom-right-radius:0.2em;
    border-top-right-radius:0.6em;
	background-color:#183152; /*DARK BLUE */
   /**/
   border: 2px solid orange;
}

/*** HEADER CONTENT ***/

/*** HEADER FINISH ***/
/* HTML */
html {

/* COLOR */
 background-color:#f9f9f9; /*OFF WHITE*/
 /* */
 border: 2px solid red;
}

/***** ARTICLE *****/
article {
    height:75%;
    /* colors */
    background-color:#f9f9f9; /*OFF WHITE*/

    /* */
    border: 2px solid green;
}

/***  BOOTSTRAP EDIT ***/
.container {
    /**/
    border: 2px solid pink;
}
.container-fluid {
/* overflow:hidden;*/
padding:0.2%;
/**/
}

.row {
    border: 2px solid black;
}

/** CLASS END **/
/*** BOOTSTRAP EDIT END ***/
/***** ARTICLE END *****/

/***** FOOTER *****/
footer {
    width:100%;
    height:auto;
    margin:auto;

   /*BORDER*/
    /*L*/
    border-bottom-left-radius:0.6em;
    border-top-left-radius:0.2em;
    /*R*/
    border-bottom-right-radius:0.6em;
    border-top-right-radius:0.2em;
	background-color:#183152; /*DARK BLUE */
   /**/
}

footer p {
  text-align:right;
  margin-top:1%;
  color:#f9f9f9;
}

/*** ID ***/
#footerDiv {
    width:100%;
    height:6vw;
    margin:inherit;
   /**/
}

/*** ID END ***/
/***** FOOTER END *****/


/*** INDEX STYLE END ***/


/* MANY CSS MUCH CODE */
