/**** CSS main style sheet disaster zone MDDN352 P1 [2016] (300317288)****/

/***** INDEX STYLE *****/
/**** FONT-SIZE-STYLE ****/

@import url(https://fonts.googleapis.com/css?family=Lato:300);

/*** HEADER ***/
/*+ TEXT SIZE +*/
h1 {
    font-family:'lato';   
}

h2 {
    font-family:'Lato';
    
    
}
 
h3 {
    font-family:'Lato';
    
}

/* ALERT FROM TITLE */
h6 {
    font-family:'Lato';
   

}

 /** MAP KEY ITEMS **/
h4 {
    font-family:'Lato';
    

}
/* FOR UI KEY HEADER */

h7 {
    font-family:'Lato';
    
}


h5 {
    font-family:'Lato';
    
}



/** PARAGRAPH **/
p {
    font-family:'Lato';
    color:#201c1c; /* off black*/    
}

/* A LINK */
a:link {
    color:#378148; /* GREEN*/
}

a {
    color:#378148; /*GREEN*/
}
/*+ TEXT SIZE END +*/



/**** FONT-SIZE-STYLE-END ****/

/***** BODY *****/
body {    
    
    /**/
    border: 2px solid blue;
}

/***** BODY END *****/

/***** HEADER *****/
header {
   
   /**/
   border: 2px solid orange;
}

/*** HEADER CONTENT ***/

/*** HEADER FINISH ***/
/* HTML */
html {


 /* */
 border: 2px solid red;
}

/***** ARTICLE *****/
article {
    
    /* */
    border: 2px solid green;
}

/***  FRAMEWORK EDIT  COOL KITTEN ***/

/** NAV **/
/*=+ CLASS +=*/
/*= ID =*/
#nav {
    /**/
    border:2px solid black;
}
/** NAV END **/

/***  FRAMEWORK EDIT  COOL KITTEN END***/


/***** ARTICLE END *****/

/***** FOOTER *****/
footer {
   
   /**/
}




/* MANY CSS MUCH CODE */
