/**** CSS main style sheet disaster zone MDDN352 P1 [2016] (300317288)****/

/***** INDEX STYLE *****/
/**** FONT-SIZE-STYLE ****/

@import url(https://fonts.googleapis.com/css?family=Lato:300);

/*** HEADER ***/
/*+ TEXT SIZE +*/
h1 {
    font-family:'lato';
    font-size:5em; 
    color:#f9f9f9; 
    margin-bottom:0.0500em; 
}

#slide1 h2 {
    font-family:'Lato';
    font-size: 2.2em;
	color: #f9f9f9;

}

h2 {
    font-family:'Lato';
    font-size: 3.2em;
	color: #f9f9f9;
   
	text-align:center;
    
    /*      T  R B L  */
	padding: 1% 0 1% 0;
    
}

 

/* SUBHEADER EACH PAGE */
h3 {
    font-family:'Lato';
    font-size: 2em;
    color:#378048;
    text-align:left;
    /**/
    margin:0.2% 0 0.2% 0;
}



/* ALERT FROM TITLE */
h6 {
    font-family:'Lato';
   

}

 /** ICONS PAGE#2 **/
h4 {
    font-family:'Lato';
    font-size:1.5em;
    color:black;
}

h5 {
    font-family:'Lato';
    font-size:1.3em;
    color:black;
}

/* FOR UI KEY HEADER */

h7 {
    font-family:'Lato';
    
}

/* DISASTER TYPES DISASTER NAMES TABLE */
h5 {
    font-family:'Lato';
    text-align:center;
    /* */
    
    
}

/** PARAGRAPH **/
p {
    font-family:'Lato';
    color:#201c1c; /* off black*/  
    font-size:1.2em; 
    text-align:left;
    /**/
    margin-left:0.250em;
}

/* A LINK */
a:link {
    color:#378148; /* GREEN*/
}

a {
    color:#378148; /*GREEN*/
}
/*+ TEXT SIZE END +*/


/**= LIST STYLE =**/

/* SEVERITY SCALE */
ol {
    color:#1f1b1a;
    font-size:1.2em; 
    text-align:left;
    /**/
}

ol li {
     margin-bottom:1em;
     
}


/* API LI EDIT */
.apiLu {

      font-size:1.2em;
      color:black;
      text-align:left;
      list-style:none;
      /**/
      line-height:0.590em;     

}

.techFLu {

      font-size:1.2em;
      color:black;
      text-align:left;
      list-style:none;
      /**/
      line-height:1.44em;     

}


ul {
    padding:0; /* to offset random +40 padding*/
    color:#f9f9f9;
    list-style:none;
}

/* ALERT TYLES LIST STYLE */
#slide4 ul li {
    text-align:left;
    font-size:1.1em;
    margin-left:0.250em;
    color:#1f1b1a;
}



/**** FONT-SIZE-STYLE-END ****/

/***** BODY *****/
body {    
    
    /**/
    border: 2px solid blue;
}

.iconTypes {
    height:90px;

}

/***** BODY END *****/

/***** HEADER *****/
header {
   
   /**/
   border: 2px solid orange;
}

/*** HEADER CONTENT ***/

/*** HEADER FINISH ***/
/* HTML */
html {


 /* */
 border: 2px solid red;
}

/***** ARTICLE *****/
article {
    
    /* */
    border: 2px solid green;
}

/****&& DIVS &&****/

/**& CLASS &**/
.slideHeader {
    
    width:100%;
    
    /**/
    border:1px solid #c918fc;
}

.disasterTypesContain {
    height:70px;
    overflow:hidden;
    /**/
    border:1px dashed white;
}

/* & ID & */

#about {
    background-color:#183052;
    /* */
}
/* MAKES CONCEPT PAGE 2 INLINE WITH PAGE 1*/
#aboutConcept {
    padding-top:2.2em;
}

/* DISASTER TYPES*/
#iconAlign {
    
    /**/
    background-color:green;

}  




/****&& DIVS END &&****/

/*===== GOOGLE MAPS API =====*/


/***  FRAMEWORK EDIT  COOL KITTEN ***/

/** NAV **/
/*=+ CLASS +=*/
.menu {
    /**/
    border: 1px solid green;
}

.container {

     /**/
     border:1px solid orange;
}

.clearfix {

    /*
    border: 1px dotted #808080;*/
}

.grid_12 {
    
    /**/
    border: 1px solid #eae612;
}


/* CENTERS NAV BAR LI CONTENT */
#table {
	
    display: table;   
	margin: 0 auto;
    /*      T R B L*/
    padding:0 0.5% 0 0.5%;
    /**/
    border:2px dashed white;

}

#table li {
    margin: 0 1.00em 0 0;
}

/* REMOVES LAST LI ELEMENTS MARGIN */
#table li:last-child {

     margin: 0 0 0 0;
    }

/*= ID =*/
#nav {
    /**/
    border:2px solid black;
}
/** NAV END **/

/*+ PAGE 1 +*/
/* ID */
#slide1 {
     /**/
     border:1px dotted #b200ff;
}
#decorative {
     /**/
     border:1px dotted #b023d9;
}
/* CLASS */

/*++ PAGE 2++*/
/* ID */
#slide2 {

    /* */
    border:1px dotted #0fd1a2;
}

#test {
    
    
     /*  */
     background-color:#ffffff;
     
     
}
/* CLASS */

/* MOBILE MEDIA QUERY */
@media screen and (max-width: 640px) {

 #table li {
    margin: 0 0.02% 0 0;
}

 #table {
	
    display: table;   
	margin: 0 auto;
    width:100%;
    /*      T R B L*/
    padding:0 0.5% 0 0.5%;
    /**/
    border:2px dashed white;

}

}

/***  FRAMEWORK EDIT  COOL KITTEN END***/


/***** ARTICLE END *****/

/***** FOOTER *****/
footer {
   
   /**/
}




/* MANY CSS MUCH CODE */
