/* EARTH ALERT LEVEL 1*/
#earthQEventTypeLight0 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocationLight0 {
    margin-top: 35px;
}

#earthQEventRatingLight0 {
    margin-top: 50px;
}

#earthQEventTimeLight0 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 1*/
#earthQEventTypeLight1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocationLight1 {
    margin-top: 35px;
}

#earthQEventRatingLight1 {
    margin-top: 50px;
}

#earthQEventTimeLight1 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 1*/
#earthQEventTypeLight2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocationLight2 {
    margin-top: 35px;
}

#earthQEventRatingLight2 {
    margin-top: 50px;
}

#earthQEventTimeLight2 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 1*/
#earthQEventTypeLight3 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocationLight3 {
    margin-top: 35px;
}

#earthQEventRatingLight3 {
    margin-top: 50px;
}

#earthQEventTimeLight3 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 1*/
#earthQEventTypeLight4 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocationLight4 {
    margin-top: 35px;
}

#earthQEventRatingLight4 {
    margin-top: 50px;
}

#earthQEventTimeLight4 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 1*/
#earthQEventTypeLight5 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocationLight5 {
    margin-top: 35px;
}

#earthQEventRatingLight5 {
    margin-top: 50px;
}

#earthQEventTimeLight5 {
    margin-top: 68px;
}
