/*= MAIN CSS Disaster Zone MDDN352 P3 [2016] SCHULTZSTEF (300308218) =*/
html {
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin-top: -9px;
    overflow-x: hidden;
}

.navBar {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(51, 87, 105);
    height: 50px;
    z-index: 4;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#navLogo {
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

.navTitle {
    margin-left: 60px;
    margin-top: -41px;
    
    color: white;
    font-size: 20pt;
    font-weight: 300;
}

#nav-discloseSidebar {
    position: absolute;
    margin-top: -58px;
    right: 10px;
    width: 30px;
    height: 30px;
    
    z-index: 5;
    
    /*background-image: url("./media/img/arrow.png");*/
    background-image: url("http://i.imgur.com/1QOnQeN.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    transform: rotate(180deg);
    
    transition: 0.2s;
}

#nav-info {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 60px;
    margin-top: -59px;
    z-index: 4;
    
    /*background-image: url("./media/img/infoIcon.png");*/
    background-image:url("http://i.imgur.com/SgDJ0vp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#googleAPI {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tooltip {
    position: relative;
    z-index: 5;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: rgba(167,192,204,1);
    color: rgba(10,10,10,1);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
    transform: rotate(180deg);
    margin-left: 30px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.25s;
}

.info-tooltip {
    position: relative;
    z-index: 5;
}

.info-tooltip .info-tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: rgba(167,192,204,1);
    color: rgba(10,10,10,1);
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    position: absolute;
    z-index: 5;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
    transform: rotate(0);
    margin-left: -315px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.25s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.info-tooltip:hover .info-tooltip-text {
    visibility: visible;
    opacity: 1;
}

#mapAddress {
    position: absolute;
    height: auto;
    width: 350px;
    bottom: 20px;
    margin-left: calc(35.5% - 175px);
    z-index: 1;
    
    padding: 5px;
    
    background-color: rgba(25,25,25,0.75);
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(10px);
    
    text-align: center;
    color: rgba(255,255,255,0.75);
    font-weight: 600;
    font-size: 9pt;
    letter-spacing: 0.025em;
    
    transition: 0.2s;
}

#mapAddress:hover {
    opacity: 0.1;
}

#inZone {
    position: absolute;
    height: 50px;
    margin-top: -50px;
    
    left: 0;
    right: 0;
    
    background-color: rgb(218,0,0);
    
    transition: 0.3s;
}

#inZone-icon {
    position: absolute;
    width: 35px;
    left: 10px;
    top: 7.5px;
}

#inZone-title {
    position: absolute;
    left: 60px;
    margin-top: 4px;    
    
    color: white;
    font-weight: 400;
    font-size: 14pt;
}

#inZone-sub {
    position: absolute;
    margin-top: 29px;
    left: 60px;
    
    color: white;
    font-weight: 600;
    letter-spacing: 0.05em;
}

#errorCantFind {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    z-index: 3;
    
    background-color: rgb(230,230,230);
}

#errorInnards {
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
}

#error-icon {
    position: absolute;
    width: 150px;
    left: calc(50% - 75px);
}

#errorTitle {
    margin-top: 160px;
    text-align: center;
    font-weight: 200;
    font-size: 24pt;
    color: rgb(218,0,0);
}

#errorBody {
    margin-top: -20px;
    text-align: center;
    width: 60%;
    margin-left: calc(50% - 30%);
}

#eventsList-container {
    position: absolute;
    z-index: 2;
    right: 0;
    width: 350px;
    top: 49px;
    height: calc(100% - 49px);
    
    background-color: rgba(25,25,25,0.75);
    -webkit-backdrop-filter: blur(20px);
    
    transition: 0.4s;
    overflow-y: scroll;
}

.eventsList {
    margin-top: 50px;
}

.eventsList-title {
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    color: rgba(255,255,255,0.75);
    letter-spacing: 0.12em;
    font-size: 10pt;
    width: 300px;
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
    line-height: 51px;
    font-weight: 800;
    background-color: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(20px);
    z-index: 5;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}

#floatingKey {
    position: absolute;
    width: 200px;
    height: 35px;
    
    border-radius: 7px;
    left: 10px;
    
    background-color: rgba(250,250,250,0.7);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
}

#floatingKey > img {
    display: none;
}

#floatingKey > h5 {
    display: none;
}

#floatingKey > div {
    display: none;
}

#floatingKey:hover {
    position: absolute;
    height: 350px;
}
#floatingKey:hover > div {
    display: block;
}

#floatingKey:hover > h5 {
    position: absolute;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 12pt;
    color: rgb(80,80,80);
    
    margin-left: 50px;
    display: block;
}

#floatingKey-title {
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
    font-weight: 700;
    color: rgb(90,90,90);
    width: 180px;
    text-align: center;
}

#floatingKey-splitter:hover {
    position: absolute;
    margin-top: 35px;
    height: 1px;
    width: 100%;
    background-color: rgba(100,100,100,0.5);
    display: block;
}

#floatingKey:hover > img {
    width: 50px;
    position: absolute;
    display: block;
}

#floatingKey-fireKey {
    margin-top: 40px;
}

#floatingKey-tornadoKey {
    margin-top: 90px;
}

#floatingKey-hurricaneKey {
    margin-top: 140px;
}

#floatingKey-floodKey {
    margin-top: 190px;
}

#floatingKey-quakeKey {
    margin-top: 240px;
}

#floatingKey-volcanoKey {
    margin-top: 290px;
}

#floatingKey-fireExp {
    margin-top: 50px;
}

#floatingKey-tornadoExp {
    margin-top: 100px;
}

#floatingKey-hurricaneExp {
    margin-top: 150px;
}

#floatingKey-floodExp {
    margin-top: 200px;
}

#floatingKey-quakeExp {
    margin-top: 250px;
}

#floatingKey-volcanoExp {
    margin-top: 300px;
}

#dummyEvent {
    height: 100px;
    border-top: solid 1px rgba(255,255,255,0.5);
    border-bottom: solid 1px rgba(255,255,255,0.5);
    
    background-color: rgba(0,0,0,0);
}

#eventIcon {
    position: absolute;
    width: 60px;
    margin-top: 20px;
}

.eventType {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

/* ARAPAOA EDIT */
/* some how broke your id class of event icon :( */
#eventIcon  {
    position: absolute;
    width: 60px;
    margin-top: 20px;
}

/* VOL ALERT LEVEl 1*/
#eventType0 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#eventLocation0 {
    margin-top: 35px;
}

#eventRating0 {
    margin-top: 50px;
}

#eventTime0 {
    margin-top: 68px;
}

/* VOL ALERT LEVEl 2*/
#eventType1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#eventLocation1 {
    margin-top: 35px;
}

#eventRating1 {
    margin-top: 50px;
}

#eventTime1 {
    margin-top: 68px;
}

/* VOL ALERT LEVEL 3*/
#eventType2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#eventLocation2 {
    margin-top: 35px;
}

#eventRating2 {
    margin-top: 50px;
}

#eventTime2 {
    margin-top: 68px;
}

/* VOL ALERT LEVEL 4*/
#eventType3 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#eventLocation3 {
    margin-top: 35px;
}

#eventRating3 {
    margin-top: 50px;
}

#eventTime3 {
    margin-top: 68px;
}

/* VOL ALERT LEVEL 5*/
#eventType4 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#eventLocation4 {
    margin-top: 35px;
}

#eventRating4 {
    margin-top: 50px;
}

#eventTime4 {
    margin-top: 68px;
}

/* L ALERT LEVEL 5*/
#eventType4 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#eventLocation4 {
    margin-top: 35px;
}

#eventRating4 {
    margin-top: 50px;
}

#eventTime4 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 1*/
#earthQEventType0 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocation0 {
    margin-top: 35px;
}

#earthQEventRating0 {
    margin-top: 50px;
}

#earthQEventTime0 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 2*/
#earthQEventType1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocation1 {
    margin-top: 35px;
}

#earthQEventRating1 {
    margin-top: 50px;
}

#earthQEventTime1 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 3*/
#earthQEventType2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocation2 {
    margin-top: 35px;
}

#earthQEventRating2 {
    margin-top: 50px;
}

#earthQEventTime2 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 4*/
#earthQEventType3 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocation3 {
    margin-top: 35px;
}

#earthQEventRating3 {
    margin-top: 50px;
}

#earthQEventTime3 {
    margin-top: 68px;
}

/* EARTH ALERT LEVEL 5*/
#earthQEventType4 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#earthQEventLocation4 {
    margin-top: 35px;
}

#earthQEventRating4 {
    margin-top: 50px;
}

#earthQEventTime4 {
    margin-top: 68px;
}

/* PLACEHOLDER EVENTS */
/* 1 */
#phEventType0 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#phEventLocation0 {
    margin-top: 35px;
}

#phEventRating0 {
    margin-top: 50px;
}

#phEventTime0 {
    margin-top: 68px;
}

/* 2 */
#phEventType1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#phEventLocation1 {
    margin-top: 35px;
}

#phEventRating1 {
    margin-top: 50px;
}

#phEventTime1 {
    margin-top: 68px;
}

/* 3 */
#phEventType2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#phEventLocation2 {
    margin-top: 35px;
}

#phEventRating2 {
    margin-top: 50px;
}

#phEventTime2 {
    margin-top: 68px;
}

/* 4 */
#phEventType3 {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#phEventLocation3 {
    margin-top: 35px;
}

#phEventRating3 {
    margin-top: 50px;
}

#phEventTime3 {
    margin-top: 68px;
}


/* ALERT LEVELS END */
.dummyEvent {
    height: 100px;
    border-top: solid 1px rgba(255,255,255,0.5);
    border-bottom: solid 1px rgba(255,255,255,0.5);
    
    background-color: rgba(0,0,0,0);
}
/**/
.dummyEvent h6 {
    position: absolute;
    font-weight: 400;
    color: white;
    font-size: 10pt;
    margin-left: 60px;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
/* SETS FIRST LETTER OF H6 to caps*/
.dummyEvent h6 {
text-transform: capitalize;
}
/* ARAPAOA EDIT [END] */

#dummyEvent h6 {
    position: absolute;
    font-weight: 400;
    color: white;
    font-size: 10pt;
    margin-left: 60px;
}

.eventLocation {
    margin-top: 35px;
}

.eventRating {
    margin-top: 50px;
}

.eventTime {
    margin-top: 68px;
}

#detailCard {
    position: absolute;
    width: 300px;
    height: 450px;
    left: calc(50% - 350px);
    top: 20%;
    
    z-index: 2;
    
    background-color: rgb(230,230,230);
    border-radius: 5px;
    
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    
    display: none;
}

#detailCard-header {
    position: absolute;
    width: 100%;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    background-color: rgb(36,203,85);
}

#detailCard-header-severity {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    
    letter-spacing: 0.1em;
    color: rgba(255,255,255,0.8);
}

#detailCard-close {
    position: absolute;
    height: 25px;
    margin-top: 2.5px;
    right: 3px;
}

#detailCard-eventIcon {
    position: absolute;
    margin-top: 40px;
    width: 60px;
}

#detailCard-eventType {
    position: absolute;
    margin-top: 40px;
    margin-left: 60px;
    
    font-size: 20pt;
    font-weight: 300;
}

#detailCard-eventLocation {
    position: absolute;
    margin-left: 60px;
    margin-top: 75px;
    
    font-weight: 600;
}

#detail-backgroundDim {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(20,20,20,0.5);
    
    display: none;
}

.infoContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 10;
    
    background-color: rgba(20,20,20,0.8);
    
    display: none;
}

.infoWindow {
    position: fixed;
    width: 800px;
    height: 650px;
    left: calc(50% - 400px);
    top: calc(50% - 350px);
    
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
    
    background-color: rgb(230,230,235);
    border-radius: 5px;   
    overflow: scroll;
}

#infoHeader {
    position: fixed;
    width: 800px;
    height: 40px;
    
    z-index: 2;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(51, 87, 105);
}

#infoTitle {
    text-align: center;
    margin-top: 6px;
    
    font-weight: 300;
    font-size: 16pt;
    color: white;
}

#infoClose {
    position: absolute;
    width: 30px;
    right: 5px;
    top: 5px;
}

#infoSelect {
    position: fixed;
    width: 800px;
    height: 40px;
    margin-top: 40px;
    
    background-color: rgba(10,10,10,0.8);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    
    z-index: 1;
    
    color: white;
    font-weight: 300;
    font-size: 14pt;
    text-align: center;
}

#what {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    left: calc(50% - 150px);
}

#how {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    left: calc(50% - 50px);
}

#who {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    left: calc(50% + 50px);
}


.infoSelected {
    background-color: rgba(0,0,0,0.4);
    font-weight: 400;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
}

#infoWhat {
    display: block;
    margin-top: 80px;
    width: 100%;
}

#infoHow {
    display: none;
    margin-top: 80px;
    width: 100%;
}

#infoWho {
    display: none;
    margin-top: 80px;
    width: 100%;
}

/* WHO SCREEN STYLING */
#whoIcon {
    width: 250px;
    margin-left: calc(50% - 125px);
    margin-top: 20px;
}

#whoTitle {
    text-align: center;
    margin-top: -20px;
    font-weight: 200;
    font-size: 32pt;
    color: rgb(51, 87, 105);
}

#copyright {
    text-align: center;
    margin-top: -35px;
    font-size: 11pt;
    font-weight: 600;
    color: rgb(80,80,80);
}

#uni {
    text-align: center;
    font-weight: 400;
    font-size: 12pt;
    color: rgb(90,90,90);
    margin-bottom: 30px;
    width: 80%;
    margin-left: 10%;
}

.blame {
    width: 80%;
    margin-left: 10%;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    color: rgb(100,100,100);
    letter-spacing: 0.1em;
}

.blame > b {
    font-weight: 700;
    color: rgb(80,80,80);
}

/* WHAT SCREEN STYLING */
#whatIcons-title {
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 100px;
    color: rgb(51, 87, 105);
}

#whatIcons-body {
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
}

#fireKey {
    position: absolute;
    margin-left: 10%;
    margin-top: 10px;
    width: 80px;
}

#fireExp {
    position: absolute;
    margin-left: calc(10% + 80px);
    margin-top: 25px;
    font-weight: 400;
    font-size: 12pt;
}

b {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 14pt;
    color: rgb(80,80,80);
}

#tornadoKey {
    position: absolute;
    margin-left: 50%;
    margin-top: 10px;
    width: 80px;
}

#tornadoExp {
    position: absolute;
    margin-left: calc(50% + 80px);
    margin-top: 25px;
    font-weight: 400;
    font-size: 12pt;
}

#hurricaneKey {
    position: absolute;
    margin-left: 10%;
    margin-top: 100px;
    width: 80px;
}

#hurricaneExp {
    position: absolute;
    margin-left: calc(10% + 80px);
    margin-top: 115px;
    font-weight: 400;
    font-size: 12pt;
}

#floodKey {
    position: absolute;
    margin-left: 50%;
    margin-top: 100px;
    width: 80px;
}

#floodExp {
    position: absolute;
    margin-left: calc(50% + 80px);
    margin-top: 115px;
    font-weight: 400;
    font-size: 12pt;
}

#quakeKey {
    position: absolute;
    margin-left: 10%;
    margin-top: 190px;
    width: 80px;
}

#quakeExp {
    position: absolute;
    margin-left: calc(10% + 80px);
    margin-top: 205px;
    font-weight: 400;
    font-size: 12pt;
}

#volcanoKey {
    position: absolute;
    margin-left: 50%;
    margin-top: 190px;
    width: 80px;
}

#volcanoExp {
    position: absolute;
    margin-left: calc(50% + 80px);
    margin-top: 205px;
    font-weight: 400;
    font-size: 12pt;
}

#whatScale-title {
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 320px;
    color: rgb(51, 87, 105);
}

#whatScale-body {
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
}

#scale {
    width: 80%;
    margin-left: 10%;
    line-height: 50px;
    text-align: center;
    
}

.scaleKey {
    display: inline-block;
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
}

#weak {
    background-color: rgb(70, 203, 244);
}

#light {
    background-color: rgb(36, 203, 85);
}

#moderate {
    background-color: rgb(244, 203, 0);
}

#strong {
    background-color: rgb(248, 136, 0);
}

#severe {
    background-color: rgb(218, 0, 0);
}

.scaleDetail {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-weight: 600;
}

#whatIs-title {
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 40px;
    color: rgb(51, 87, 105);
}

#whatIs-body {
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
}

/* HOW SCREEN STYLING */
#privacy-title {
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 100px;
    color: rgb(51, 87, 105);
}

#privacy-body {
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
}

#provider-title {
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 10px;
    color: rgb(51, 87, 105);
}

#provider-body {
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
}

#location-title {
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 10px;
    color: rgb(51, 87, 105);
}

#location-body {
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
}


/* TABLET STYLING */

@media screen and (max-width: 1000px) {
    
    #nav-discloseSidebar {
        display: block;
    }
    
    
    #eventsList-container {
        right: -400px;
    }
    
    #mapAddress {
        margin-left: calc(50% - 180px);
    }
    
    #detailCard {
        left: calc(50% - 150px);
    }
    
    #errorInnards {
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
}

    #error-icon {
        position: absolute;
        width: 150px;
        left: calc(50% - 75px);
    }
    
    .infoWindow {
        top: 20px;
        width: 90%;
        left: 5%;
    }
    
    #infoHeader {
        width: 90%;
        left: 5%;
    }
    
    #infoSelect {
        width: 90%;
        left: 5%;
    }
    
    #fireKey {
        position: absolute;
        margin-left: 10%;
        margin-top: 10px;
        width: 80px;
    }

    #fireExp {
        position: absolute;
        margin-left: calc(10% + 80px);
        margin-top: 25px;
        font-weight: 400;
        font-size: 12pt;
    }

    b {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 14pt;
        color: rgb(80,80,80);
    }

    #tornadoKey {
        position: absolute;
        margin-left: 10%;
        margin-top: 100px;
        width: 80px;
    }

    #tornadoExp {
        position: absolute;
        margin-left: calc(10% + 80px);
        margin-top: 115px;
        font-weight: 400;
        font-size: 12pt;
    }

    #hurricaneKey {
        position: absolute;
        margin-left: 10%;
        margin-top: 100px;
        width: 80px;
    }

    #hurricaneExp {
        position: absolute;
        margin-left: calc(10% + 80px);
        margin-top: 115px;
        font-weight: 400;
        font-size: 12pt;
    }

    #floodKey {
        position: absolute;
        margin-left: 50%;
        margin-top: 100px;
        width: 80px;
    }

    #floodExp {
        position: absolute;
        margin-left: calc(50% + 80px);
        margin-top: 115px;
        font-weight: 400;
        font-size: 12pt;
    }

    #quakeKey {
        position: absolute;
        margin-left: 10%;
        margin-top: 190px;
        width: 80px;
    }

    #quakeExp {
        position: absolute;
        margin-left: calc(10% + 80px);
        margin-top: 205px;
        font-weight: 400;
        font-size: 12pt;
    }

    #volcanoKey {
        position: absolute;
        margin-left: 50%;
        margin-top: 190px;
        width: 80px;
    }

    #volcanoExp {
        position: absolute;
        margin-left: calc(50% + 80px);
        margin-top: 205px;
        font-weight: 400;
        font-size: 12pt;
    }
    
}

/* MOBILE STYLING */

@media screen and (max-width: 500px) {
    
    #detailCard {
        margin-top: -40px;
    }
    
    #eventsList-container {
        width: 100%;
    }
    
    .eventList-title {
        width: 100%;
    }
    
    #mapAddress {
        width: 75%;
        left: 50%;
        margin-left: -37.5%;
    }
    
    #floatingKey {
        margin-left: calc(50% - 110px);
    }
    
    #errorInnards {
        position: absolute;
        left: 0;
        top: 60px;
        right: 0;
}

    #error-icon {
        width: 100px;
        left: calc(50% - 50px);
    }

    #errorTitle {
        margin-top: 110px;
        width: 90%;
        margin-left: calc(50% - 45%);
    }

    #errorBody {
        margin-top: -20px;
        text-align: center;
        width: 90%;
        margin-left: calc(50% - 45%);
    }
    
}
