html {
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin-top: -9px;
    overflow-x: hidden;
}

.navBar {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(51, 87, 105);
    height: 50px;
    z-index: 3;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#navLogo {
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.navTitle {
    margin-left: 65px;
    margin-top: -36px;
    
    color: white;
    font-size: 20pt;
    font-weight: 300;
}

#nav-discloseSidebar {
    position: absolute;
    margin-top: -58px;
    right: 10px;
    width: 30px;
    height: 30px;
    
    z-index: 5;
    
    background-image: url(./media/img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    transform: rotate(180deg);
    
    transition: 0.2s;
}

#nav-info {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 60px;
    margin-top: -58px;
    z-index: 4;
    
    background-image: url(./media/img/infoIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#googleAPI {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tooltip {
    position: relative;
    z-index: 5;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: rgba(167,192,204,1);
    color: rgba(10,10,10,1);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
    transform: rotate(180deg);
    margin-left: 30px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.25s;
}

.info-tooltip {
    position: relative;
    z-index: 5;
}

.info-tooltip .info-tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: rgba(167,192,204,1);
    color: rgba(10,10,10,1);
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    position: absolute;
    z-index: 5;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
    transform: rotate(0);
    margin-left: -315px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.25s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.info-tooltip:hover .info-tooltip-text {
    visibility: visible;
    opacity: 1;
}

#mapAddress {
    position: absolute;
    height: auto;
    width: 350px;
    bottom: 20px;
    margin-left: calc(35.5% - 175px);
    z-index: 1;
    
    padding: 5px;
    
    background-color: rgba(25,25,25,0.75);
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(10px);
    
    text-align: center;
    color: rgba(255,255,255,0.75);
    font-weight: 600;
    font-size: 9pt;
    letter-spacing: 0.025em;
    
    transition: 0.2s;
}

#mapAddress:hover {
    opacity: 0.1;
}

#errorCantFind {
    position: absolute;
    left: 0;
    right: 350px;
    top: 0;
    bottom: 0;
    background-color: crimson;
}

.eventsList {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 350px;
    top: 45px;
    height: calc(100% - 45px);
    
    z-index: 2;
    
    background-color: rgba(25,25,25,0.75);
    -webkit-backdrop-filter: blur(20px);
    
    transition: 0.4s;
}

.eventsList-title {
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(255,255,255,0.75);
    letter-spacing: 0.075em;
    font-size: 10pt;
}

#dummyEvent {
    height: 100px;
    border-top: solid 1px rgba(255,255,255,0.5);
    border-bottom: solid 1px rgba(255,255,255,0.5);
    
    background-color: rgba(0,0,0,0);
}

#eventIcon {
    position: absolute;
    width: 60px;
    margin-top: 20px;
}

.eventType {
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    color: white;
    font-weight: 300;
    font-size: 16pt;
}

#dummyEvent h6 {
    position: absolute;
    font-weight: 400;
    color: white;
    font-size: 10pt;
    margin-left: 60px;
}

.eventLocation {
    margin-top: 35px;
}

.eventRating {
    margin-top: 50px;
}

.eventTime {
    margin-top: 68px;
}

#detailCard {
    position: absolute;
    width: 300px;
    height: 450px;
    left: calc(50% - 350px);
    top: 20%;
    
    z-index: 2;
    
    background-color: rgb(230,230,230);
    border-radius: 5px;
    
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    
    display: none;
}

#detailCard-header {
    position: absolute;
    width: 100%;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    background-color: rgb(36,203,85);
}

#detailCard-header-severity {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    
    letter-spacing: 0.1em;
    color: rgba(255,255,255,0.8);
}

#detailCard-close {
    position: absolute;
    height: 25px;
    margin-top: 2.5px;
    right: 3px;
}

#detailCard-eventIcon {
    position: absolute;
    margin-top: 40px;
    width: 60px;
}

#detailCard-eventType {
    position: absolute;
    margin-top: 40px;
    margin-left: 60px;
    
    font-size: 20pt;
    font-weight: 300;
}

#detailCard-eventLocation {
    position: absolute;
    margin-left: 60px;
    margin-top: 75px;
    
    font-weight: 600;
}

#detail-backgroundDim {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(20,20,20,0.5);
    
    display: none;
}

.infoContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 10;
    
    background-color: rgba(20,20,20,0.8);
    
    display: none;
}

.infoWindow {
    position: absolute;
    width: 800px;
    height: 650px;
    left: calc(50% - 400px);
    top: calc(50% - 350px);
    
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
    
    background-color: rgb(220,220,225);
    border-radius: 5px;
    
    overflow: scroll;
    
}

#infoHeader {
    position: absolute;
    width: 100%;
    height: 40px;
    
    z-index: 1;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(51, 87, 105);
}

#infoTitle {
    text-align: center;
    margin-top: 6px;
    
    font-weight: 300;
    font-size: 16pt;
    color: white;
}

#infoClose {
    position: absolute;
    width: 30px;
    right: 5px;
    top: 5px;
}

#infoSelect {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 40px;
    
    background-color: rgba(10,10,10,0.8);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    
    color: white;
    font-weight: 300;
    font-size: 14pt;
    text-align: center;
}

#what {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    left: calc(50% - 150px);
}

#how {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    left: calc(50% - 50px);
}

#who {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    left: calc(50% + 50px);
}

.infoSelected {
    background-color: rgba(0,0,0,0.4);
    font-weight: 400;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
}

#infoWhat {
    display: block;
    margin-top: 80px;
    width: 100%;
}

#infoHow {
    display: none;
    margin-top: 80px;
    width: 100%;
}

#infoWho {
    display: none;
    margin-top: 80px;
    width: 100%;
}

/* TABLET STYLING */

@media screen and (max-width: 1000px) {
    
    #nav-discloseSidebar {
        display: block;
    }
    
    
    .eventsList {
        right: -400px;
    }
    
    #mapAddress {
        margin-left: calc(50% - 180px);
    }
    
    #detailCard {
        left: calc(50% - 150px);
    }
}

/* MOBILE STYLING */

@media screen and (max-width: 500px) {
    
    #detailCard {
        margin-top: -40px;
    }
    
    .eventsList {
        width: 100%;
    }
    
    #mapAddress {
        width: 75%;
        left: 50%;
        margin-left: -37.5%;
    }
    
}