/*===== MAIN CSS =====*/

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

/*===== MAIN CSS END =====*/



/*===== NAV DESKTOP =====*/

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto;

    /*      T    R  B   L*/
    padding:0.5% 0 0.5% 0;    
	background-color:#183052;

    -webkit-box-shadow: 3px 3px 41px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: 3px 3px 41px 2px rgba(0,0,0,0.27);
    box-shadow: 3px 3px 41px 2px rgba(0,0,0,0.27);
	z-index:100;
    color:#f9f9f9;

}


#logo {
	text-align: center;
	margin: 0.625em 0;
}

#nav {
	width: 100%;
    height:auto;
   
}


.navigation{
	
    
	
    
}

.navigation li{
    
    font-size:1.5em;
    
    display:inline-block;
    list-style:none;
    
    
    /*line-height:200px;*/
}



.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation ul {
    font-size:0;
    
    }

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}

/*===== NAV END =====*/


/*===== SLIDES =====*/ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto; /* TEMP SETTING CHANGE LATER [Auto]*/
	position: relative;
	padding:140px 0;
}



/* Slide 1 */ 

#slide1{
	
    background-image:url("http://i.imgur.com/eOHlQel.png"); /*NEEDS FIXING*/
    background-repeat: no-repeat;
    background-size:cover;


}
#slide1 h1 {

	margin-top:25%;
    text-align:center;
    /*font-size: 3.8em;
	color:#ffffff;*/
    
    
}
#slide1 h2 {
	/*font-size: 2em;
	color: #ffffff;*/
	padding-bottom:2%;
	text-align:center;
    margin-bottom:25%;
}





/* Slide 2 */ 

#slide2{
	background-color:#f68f67;
	color:#ffffff;
}

#slide2 h2 {
	/*font-size: 3em;*/
	color: #b200ff;
	padding-bottom:20px;
    margin-bottom: 5%;
	font-weight: 400;
    text-align:center;
}



/* Slide 3 */ 

#slide3{
	background-color:#ff0000;
    
}


#slide3 h2 {
	/*font-size: 3em;*/
	color: #b200ff;
	padding-bottom:20px;
    margin-bottom: 5%;
	text-align:center;
}
#test {
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	
	font-weight: 400;
}




/* Slide 4 */

#slide4{
	
	background-color:#8a8683;
	color:#ffffff;
}
 
#slide4 h2 {
	/* */font-size: 3em;
	color: #b200ff;
	line-height: 0px;
	padding-bottom:20px;
    margin-bottom: 5%;
	font-weight: 400;
    text-align:center;
}

/* Slide 5 */

#slide5{
	background-image:url('');
	background-color:#12e84a;
	color:#ffffff;
}

#slide5 h2 {
	font-size: 3em;
	color: #b200ff;
	padding-bottom:20px;
    margin-bottom: 5%;
	text-align:center;
}


/*===== SLIDES END =====*/ 

/**++++++ MEDIA QUERY ++++++**/

/*===== TABLET =====*/
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}


#decorative {
	display:none;
}

#content {
	
	width:100%;
    /*text-align:center;*/
}

#slide1 h1 {
    font-size:3.3em;
	
}

#slide1 h2 {
    font-size:1.5em;
	
}






/*===== MOBILE =====*/
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

#slide5 h1 {
    line-height: 1em;
    }

#slide5 h2 {
    line-height: 1em;
    }

}

/**++++++ MEDIA QUERY END ++++++**/


